html {
    font-size: 20px;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

.sitename{
    padding: 0px;
    margin: 10px;
}

.welcome{
    font-size: 2em;
}

#welcomebox{
    height: 250px;
    background-color:rgb(125, 250, 250);
    text-align: center;
    display:flex;
    justify-content: center;
    align-items:center;    
    margin-bottom: 20px;
}

.navbar{
    list-style:none;
    padding: 0px;
    margin: 0px;
    display:flex;
}

.navbar > li {
    padding: 0px;
    margin: 10px;
}

.top-container{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

#top-container-sm{
    display:none;
}

.smallboxgroup{
    display:flex;
    /*flex-wrap:wrap;*/
    justify-content: center;
    align-items:center;
    gap: 20px;
    margin-bottom: 20px;
}

.smallbox{
    background-color:rgb(124, 255, 119);
    width: 33.3%;
    height:50px;
    overflow:hidden;
    display:flex;
    align-items:center;

}

.smallboximage{
    max-width:80px;
    width:100%;    
    /*object-fit: cover;
    object-position: center;*/
}

.bigboxgroup{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    max-width:100%;
}

.bigbox1{
    background-color:rgb(124, 255, 119);
    height: 100px;
    padding: 0px;
    margin: 0px;
    display:flex;
    align-items:center;    
    overflow:hidden;
    position: relative;
}

.text-block{
    position: absolute;
    width:100%;
    bottom:0;
    text-align: center;
    background-color: rgba(255,255,255,50%);
}

.maincontent{
    width: 1200px;
    margin: auto;
}

.popupmenu {  
    display:none;
    height: 100%;
    max-width: 200px;
    position: fixed; /* 必須要固定在這個地方 */
    z-index: 1; /* 其他人沒有定義，把這個物件放在堆疊的最上面 */
    background-color: rgb(255, 159, 250);
    right:0;
    top:0;
}

.popuplist{
    list-style:none;
}

.closebtn{
    max-height:50px;
}


@media screen and (max-width:1200px){

    .navbar{
        list-style:none;
        padding: 0px;
        margin: 0px;
        display:flex;
    }

    .navbar > li {
        padding: 0px;
        margin: 10px;
    }

    .top-container{
        display:flex;
        justify-content: space-between;
    }

    .maincontent{
        width: 90%;
        margin: auto;
    }

    .smallbox{
        width: 50%;
        height: 50px;
    }
    .smallbox:nth-child(3){
        width: 100%;
        height: 50px;
    }

    #smallboxes{
        background-color:rgb(124, 255, 119);
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items:center;

    }

    .bigboxgroup{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        max-width:100%;
    }

    .bigbox1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bigbox1:nth-child(9){
        grid-column: 1 / 3;
    }
    .bigbox1:nth-child(10){
        grid-column: 3 / 5;
    }

}

@media screen and (max-width:600px){
    #top-container-lg{
        display:none;
    }
    
    #top-container-sm{
        display:flex;
    }

    .smallbox{
        flex:0 0 100%;
        height: 50px;
    }

    .smallboxgroup{
        flex-wrap:wrap;
    }

    .bigboxgroup{
        display:flex;
        flex-wrap: wrap;
    }

    .bigbox1{
        flex:0 0 100%;
    }

}
