<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[Member Page] Week 7 Assignment - Frontend and Backend Separation</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <div class="page-title">歡迎光臨，這是會員頁</div>
    <h2 class="general-form">{{ member_name }}，歡迎登入系統</h2>
    <a href="/signout" class="general-form">登出系統</a>

    <hr/>

    <h2 class="general-form">快來留言吧！</h2>
    <form class="general-form" id="messageboard" method="post" onsubmit="return messageFormFullyEntered()" action="/createMessage">
        <div>
            <label for="new_message">內容</label>
            <input type="text" id="new_message" name="new_message_name">
        </div>
        <div>
            <button type="submit">送出</button>
        </div>
    </form>

    <hr/>

    <h2 class="general-form">使用username查查看有沒有對應的帳號</h2>
    <form class="general-form" id="fetchuserdataform" method="get" onsubmit="">
        <div>
            <label for="username_id">想查詢的username</label>
            <input type="text" id="username_id" name="username_name">
        </div>
        <div>
            <button type="submit">送出</button>
        </div>
    </form>
    <h2 class="user-search-result">查詢結果：</h2>

    <hr/>

    <h2 class="general-form">更改自己的姓名</h2>
    <form class="general-form" id="patchusernameform" method="post" onsubmit="return onPatchFormSubmitted(event);">
        <div>
            <label for="new_username_id">新的顯示姓名</label>
            <input type="text" id="new_username_id" name="new_username">
        </div>
        <div>
            <button type="submit">更改</button>
        </div>
        <div class="centered-general-text" id="displaynameeditresult"></div>
    </form>

    <hr/>

    <ul id="messages">
        {% for item in messages %}
            <li><b>{{ item[0] }}</b> 說： {{ item[1] }}
                {% if member_id == item[2] %}
                    <form id="deletebutton" method="post" onsubmit="return confirm('Do you really want to delete this message?')" action="/deleteMessage" style="display: inline;">
                        <button name="post_id" value={{ item[3] }}>Delete</button>
                    </form>
                {% endif %}</li>
        {% endfor %}
    </ul>
</body>

<script src="static/script.js"></script>

</html>